# Variables

In [1]:
x=100
y=10

In [2]:
z = x*y
z

1000

In [3]:
z1 = x/y
z1

10.0

In [4]:
a=2000

In [5]:
a/y

200.0

In [6]:
a=200.0
a

200.0

### Dynamic Typed

In [7]:
x=100

In [8]:
x=y

In [9]:
x = str(y)

In [10]:
type(x)

str

In [11]:
y = int(x)

In [12]:
type(y)

int

### Dynamic Inference Feature

In [13]:
var = [1,2,3]

In [14]:
type(var)

list

In [15]:
var = "inceptez technologies"

In [16]:
type(var)

str

### Strongly Typed

In [17]:
var1 = 100

In [18]:
var2 = 'venkat'

In [19]:
var1 + var2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
str(var1)

'100'

In [21]:
str(var1)+var2

'100venkat'

In [22]:
a=10

In [23]:
b=20

In [24]:
c=30

In [25]:
d=40

### Case-Sensitive Language

In [26]:
user_name = 'User1'
print(User_name)

NameError: name 'User_name' is not defined

### variable name canâ€™t start with numbers and special characters

In [27]:
2myvar = "venkat inceptez"

SyntaxError: invalid syntax (<ipython-input-27-94c0d2a8b0ca>, line 1)

In [29]:
_myvar = "venkat data science"  # Only _ Accepted at the start of variable

In [30]:
$_myvar = "venkat data science"

SyntaxError: invalid syntax (<ipython-input-30-5ae4059f9323>, line 1)

In [31]:
&_myvar = "venkat data science"

SyntaxError: invalid syntax (<ipython-input-31-fa05a7c5c431>, line 1)

### Single,Double and Triple Quotes

In [ ]:
name = 'Inceptez!'
print (name)
print (type(name))

In [ ]:
len(name)

In [32]:
name = "Inceptez"
print (name)
print (type(name))

Inceptez
<class 'str'>

In [33]:
len(name)

8

In [34]:
name = '''Inceptez!'''
print (name)
print (type(name))

Inceptez!
<class 'str'>

In [35]:
len(name)

9

In [36]:
name = "'Inceptez@#'''&^%''"
print (name)
print (type(name))

'Inceptez@#'''&^%''
<class 'str'>

In [37]:
len(name)

19

In [38]:
name = "'Inceptez!'"
print (name)
print (type(name))

'Inceptez!'
<class 'str'>

In [39]:
len(name)

11

In [40]:
### MULTI-LINE

name = '''Inceptez          
Technologies 
is the best training center
for data science and big data analytics in chennai region'''
print (name)
print (type(name))

Inceptez
Technologies
is the best training center
for data science and big data analytics in chennai region
<class 'str'>

In [41]:
x = 21
y = 4
print('x + y =',x+y)   ### Arithmetic

print('x - y =',x-y)


print('x * y =',x*y)


print('x / y =',x/y)


print('x // y =',x//y)


print('x ** y =',x**y)


print('x > y is',x>y)


print('x < y is',x<y)


print('x == y is',x==y)  ## Comparison also referred as Relational


print('x != y is',x!=y)


print('x >= y is',x>=y)


print('x <= y is',x<=y)

x + y = 25
x - y = 17
x * y = 84
x / y = 5.25
x // y = 5
x ** y = 194481
x > y is True
x < y is False
x == y is False
x != y is True
x >= y is True
x <= y is False

In [42]:
print('x % y =',x%y)

x % y = 1

In [43]:
x = True
y = False

print('x and y is',x and y)   # Logical

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

# Conditional Structures

### Greatest of 3 Numbers

In [44]:
x1 = 12545855554445
x2 = 1251258888121245888
x3 = 125147444414787999

In [45]:
if (x1 >= x2) and (x1 >= x3):    # comparison
    largest = x1
elif (x2 >= x1) and (x2 >= x3):
    largest = x2
else:
    largest = x3

print("The largest number is", largest)

The largest number is 1251258888121245888

# String - Palindrome or Not

In [46]:
string = input("Please enter your own String : ")

if(string == string[::-1]):
    print("This is a Palindrome String")
else:
    print("This is Not a Palindrome String")

Please enter your own String : madam
This is a Palindrome String

# Number - Palindrome or Not

In [47]:
number = input("Please enter your own number : ")

if(number == number[::-1]):
    print("This is a Palindrome number")
else:
    print("This is Not a Palindrome number")

Please enter your own number : 80008
This is a Palindrome number

# Even or Negative

In [349]:
num = float(input("Enter a number: "))
if num < 0:
    print("negative number")
elif num % 2 == 1:
    print("odd number")
elif num % 2 == 0:
    print("even number")

Enter a number: -10
negative number

In [49]:
student = input("Please enter your own text: ")

if student == "big data":
    print ("fees is 25000")
elif student == "spark":
    print ("fees is 15000")
elif student == "data science" and "machine learning":
    print ("fees is 25000")
elif student == "deep learning":
    print ("fees is 45000")
elif student == "deep learning" and "machine learning":
    print ("fees is 50000")

print ("Good bye!")

Please enter your own text: deep learning
fees is 45000
Good bye!

In [50]:
x = isinstance(100, int)  # checked. It is an integer
x

True

# Collections

In [51]:
lst = [2,3,4,5,6,7,8,9,10,11]

In [52]:
lst[2]=100

In [53]:
lst  #mutable

[2, 3, 100, 5, 6, 7, 8, 9, 10, 11]

In [54]:
lst.insert(4,100) # Resizable

In [55]:
lst

[2, 3, 100, 5, 100, 6, 7, 8, 9, 10, 11]

In [56]:
var4 = ("Inceptez","Technologies","Pvt","Ltd")

In [57]:
var4[1] = "Wipro"  # Immutable

TypeError: 'tuple' object does not support item assignment

In [58]:
var4.insert(2,"CTS")  # Non Resizable

AttributeError: 'tuple' object has no attribute 'insert'

In [132]:
print(var4[-1])

Ltd

In [133]:
print(var4[-3])

Technologies

In [134]:
inceptez1 = ("Ltd","Technologies")  # stored inside another tuple
inceptez1

('Ltd', 'Technologies')

# List of Tuples to List of Dictionary

In [135]:
tuples = [("Inceptez","Technologies"),("Apple","Incorporation")]

In [136]:
dict = [{i[0] : i[1]} for i in tuples]

In [137]:
dict

[{'Inceptez': 'Technologies'}, {'Apple': 'Incorporation'}]

In [138]:
dict[1]['Apple']

'Incorporation'

In [139]:
dict.get("Apple")

AttributeError: 'list' object has no attribute 'get'

Observation: get() is used and it doesn't return value because "dict" variable present here is list of dictionary

In [59]:
tuples_1 = [("Inceptez","Technologies"),("Apple1","Incorporation")]

In [60]:
dict = [{i[0] : i[1]} for i in tuples_1]

In [61]:
tuples_1.get("Apple1")

AttributeError: 'list' object has no attribute 'get'

In [62]:
lst2=[("Inceptez","Technologies"),("Apple","Incorporation"),("Inceptez","Technologies"),("Inceptez","Technologies")]

In [63]:
de_duplicated = list(set(lst2))
de_duplicated

[('Inceptez', 'Technologies'), ('Apple', 'Incorporation')]

Convertion ---> List of Tuple to Set will remove all the duplicates

In [64]:
de_duplicated.append(["Intel","Corp"])

Observation: Only with list - "Append" comes.  NOT if you execute set(lst2)

In [65]:
de_duplicated

[('Inceptez', 'Technologies'), ('Apple', 'Incorporation'), ['Intel', 'Corp']]

In [80]:
lst_dict= [{"Inceptez":"Technologies"},{"Apple":"Incorporation"}]

In [81]:
lst_1 = [i for s in [d.keys() for d in lst_dict] for i in s]
lst_1

['Inceptez', 'Apple']

In [111]:
lst_4 = [10,20,40,30,20]

In [112]:
sol = [lst_4[0],lst_4[-1]]
print("The first and last element in the list are: " + sol)

TypeError: can only concatenate str (not "list") to str

In [113]:
sol = [lst_4[0],lst_4[-1]]
print("The first and last element in the list are: " + str(sol))

The first and last element in the list are: [10, 20]

Therefore, it is observed that str is accepted in concat and NOT LIST. So, we put  str(sol)

In [114]:
sort_desc = lst_4.sort(reverse = True)
lst_4

[40, 30, 20, 20, 10]

In [115]:
maximum = max(lst_4)
maximum

40

In [116]:
minimum = min(lst_4)
minimum

10

In [117]:
sum_lst = sum(lst_4)
sum_lst

120

In [118]:
lst_4.pop(1)

30

In [119]:
lst_4.pop(2)

20

In [121]:
lst_4.pop(1)

20

In [127]:
lst_4

[40, 10]

String to List

In [128]:
def Convert(string):
    li = list(string.split(" "))
    return li
 
# Driver code   
str1 = "Inceptez Technologies Pvt Ltd" 
print(Convert(str1))

['Inceptez', 'Technologies', 'Pvt', 'Ltd']

In [129]:
emplstlst= [["1", ("Arun","Kumar"), "10000"],["2", ("Bala","Mohan"), "12000"]]

In [131]:
res = tuple(tuple(sub) for sub in emplstlst)   # Tuple of Tuples
res

(('1', ('Arun', 'Kumar'), '10000'), ('2', ('Bala', 'Mohan'), '12000'))

In [141]:
res[0]

('1', ('Arun', 'Kumar'), '10000')

In [146]:
reverse = res[1][1]
reverse

('Bala', 'Mohan')

In [147]:
reverse[::-1]       #Reverse first & last names

('Mohan', 'Bala')

In [181]:
sum([int(i[2]) for i in emplstlst])  # Add all Salaries

22000

# Control Statements

In [186]:
list_num=[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [195]:
even_nos = [num for num in list_num if num % 2 == 0]
even_nos

[6, 8, 10, 12, 14, 16, 18, 20]

In [196]:
odd_nos = [num for num in list_num if num % 2 == 1]
odd_nos

[5, 7, 9, 11, 13, 15, 17, 19]

In [215]:
lst_store=[]    ## Store inside list

x=0

while x <=15:
    print(x),
    x+=3
    lst_store.append(x)
    
print(lst_store)

0
3
6
9
12
15
[3, 6, 9, 12, 15, 18]

### For Loop - Print the Cube of 4

In [226]:
numbers_to_cube = [4]

In [230]:
cube = []

for number in numbers_to_cube:
    
    cube.append(number**3)

print(cube)

[64]

In [251]:
n = int(input())     # While Loop - Print n number of times

i = 1
while i <= n:
    print("Inceptez Technologies")
    i = i + 1

10
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies
Inceptez Technologies

# Salary + Bonus

In [265]:
sal_lst = [10000,20000,30000,10000,15000]

In [268]:
sal_bonus_lst = ([int(h)+1000 for h in sal_lst])

In [269]:
sal_bonus_lst

[11000, 21000, 31000, 11000, 16000]

In [274]:
filtered_salary = []      # Filter greater than 11000 salary

for salary in sal_bonus_lst:
    if salary >11000:
        filtered_salary.append(salary)

print(filtered_salary)

[21000, 31000, 16000]

# Loop for 3 Tables till 10

In [282]:
multiply_table = 3

for i in range(1,11):
    print(i, 'x', multiply_table, '=', multiply_table * i)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [321]:
lst1 = [[10,20],[30,40,50],[60,70,80]]

In [322]:
import numpy as np

In [323]:
lst2 = np.array(lst1)

<ipython-input-323-b393ee473919>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  lst2 = np.array(lst1)

In [324]:
str(lst2)

'[list([10, 20]) list([30, 40, 50]) list([60, 70, 80])]'

In [325]:
total = np.sum(lst2, 0)

In [326]:
total

[10, 20, 30, 40, 50, 60, 70, 80]

In [327]:
np.sum(total)

360

In [328]:
np.min(total)

10

In [329]:
np.max(total)

80

# Functions

In [392]:
def maximum(a, b, c):
    list = [a, b, c] 
    return max(list) 
    x = int(input("Enter First number"))
    y = int(input("Enter Second number"))
    z = int(input("Enter Third number"))
    
print("Maximum Number is ::>",maximum(x, y, z))

Maximum Number is ::> 1000

In [358]:
def isPalindrome(s):  #user-defined function
    return s == s[::-1]

# take inputs

string = input('Enter the string: ')

# calling function and display result

reverse = isPalindrome(string)
if reverse:
    print(string,'is a Palindrome')
else:
    print(string,'is not a Palindrome')

Enter the string: madam
madam is a Palindrome

In [365]:
input = "trend"   # Check input is String or Number
 
contains_digit = any(map(str.isdigit, input))
print(contains_digit)

False

In [369]:
input = "TREND"   # Check input is String or Number
 
contains_digit = any(map(str.isupper, input))
print(contains_digit)

True

In [367]:
input = "100"
 
contains_digit = any(map(str.isupper, input))
print(contains_digit)

False

In [368]:
input = "100"
 
contains_digit = any(map(str.isdigit, input))
print(contains_digit)

True

In [370]:
[x for x in range(1,11) if x%2==0] # even no

[2, 4, 6, 8, 10]

In [371]:
[x for x in range(1,11) if x%2==1] # odd no

[1, 3, 5, 7, 9]

In [373]:
[x for x in range(-10,11) if x < 0] # negative no

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

# Positional Arguement

In [393]:
def largest(*numbers):
    return max(numbers)

print(largest(20,50,1455))

1455